$blue: #0F52BA;

header{
    height: 6.3125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4.0625rem;
    padding-right: 5.5rem;
    background-color: $blue;
}
