$white: #FFFFFF;
$black: #000;
$dark: #373737;

div.cart-counter-container{
    width: 90px;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $white;
    border-radius: 0.5rem;
    cursor: pointer;

    svg{
        fill: $black;
    }
    
    span{
        font-size: 18px;
    }
}

div.cart-counter-container:hover{
    background-color: $dark;
    
    svg{
        fill: $white;
    }

    span{
        color: $white;
    }
}
